/*KOD FÖR MEDIA QUIERES OCH HAMBURGERMENY*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 80px 400px 400px 400px 400px 80px;
    grid-template-areas: 
        "he na"
        "s1 s1"
        "s2 s2"
        "s3 s3"
        "s4 s4"
        "fo fo";
}


header {
    grid-area: he;
    background: #F5DEB3;
}


footer {
    grid-area: fo;
    background: #F5DEB3;
}



/*KOD FÖR MEDIA QUIERES OCH HAMBURGERMENY*/
nav {
    height: 80px;
    background-color: rgb(144, 174, 238);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: na;
}

#burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

#nav-links {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 200px;
    background-color: rgb(144, 174, 238);
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -500px;
    right: 0px;
    transition: all, 0.5s;
}

#nav-links li {
    list-style: none;   
}

#nav-links a {
    text-decoration: none;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#burger {
    margin-right: 50px;
    cursor: pointer;
}

.burger_toggle #burger_line_2 {
    opacity: 0;
}

.burger_toggle #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav_active {
    transform: translateY(580px);
}

#nav-links a:hover {
    background: white;
}

@media screen and (min-width: 800px) {

    #burger {
        display: none;
    }

    #grid_wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 80px 400px 400px 80px;
        grid-template-areas: 
            "na na"
            "he he"
            "s1 s2"
            "s3 s4"
            "fo fo";
    }

    nav {
        background: lightslategray;
    }

    #nav-links {
        flex-direction: row;
        height: 80px;
        width: 100%;
        background-color: rgb(144, 174, 238);
        top: 0px;
        right: 0px;
        justify-content: space-around;
        align-items: center;
    }
    
    .nav_active {
        transform: translateY(0px);
    }
}
