/* ALLMÄN KOD/KOD FÖR INDEX.HTML */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredericka the Great', cursive;
}

#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 80px 400px 400px 400px 400px 80px;
    grid-template-areas:
        "he na"
        "s1 s1"
        "s2 s2"
        "s3 s3"
        "s4 s4"
        "fo fo";
}

header {
    grid-area: he;
    background: #514242;
    font-size: 0.9rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

footer {
    grid-area: fo;
    background: #534242;
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

#section_1 {
    grid-area: s1;
    background: rgb(96, 75, 75);
}

#section_2 {
    grid-area: s2;
    background: rgb(96, 75, 75);
}

#section_3 {
    grid-area: s3;
    background: rgb(96, 75, 75);
}

#section_4 {
    grid-area: s4;
    background: rgb(96, 75, 75);
}

img {
    height: 290px;
    width: 400px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

h3 {
    justify-content: center;
    align-items: center;
    color: white;
}

p {
    color: white;
    justify-content: center;
    align-items: center;
}




/* KOD FÖR MEDIA QUIERES OCH HAMBURGERMENY */
nav {
    height: 80px;
    background-color: rgb(96, 75, 75);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: na;
    font-family: 'Luckiest Guy', cursive;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

#burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

#nav-links {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 200px;
    background-color: rgb(96, 75, 75);
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -500px;
    right: 0px;
    transition: all, 0.5s;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

#nav-links li {
    list-style: none;
}

#nav-links a {
    text-decoration: none;
    font-size: 0.95rem;
    letter-spacing: 0.1875rem;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#burger {
    margin-right: 50px;
    cursor: pointer;
}

.burger_toggle #burger_line_2 {
    opacity: 0;
}

.burger_toggle #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav_active {
    transform: translateY(580px);
}

#nav-links a:hover {
    background: white;
}

@media screen and (min-width: 800px) {

    #burger {
        display: none;
    }

    #grid_wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 80px 400px 400px 80px;
        grid-template-areas:
            "na na"
            "he he"
            "s1 s2"
            "s3 s4"
            "fo fo";
    }

    nav {
        background: lightslategray;
    }

    #nav-links {
        flex-direction: row;
        height: 80px;
        width: 100%;
        background-color: rgb(96, 75, 75);
        top: 0px;
        right: 0px;
        justify-content: space-around;
        align-items: center;
    }

    .nav_active {
        transform: translateY(0px);
    }

    img {
        height: 335px;
        width: 630px;
        border-radius: 10px;
        border-color: white;
        border-style: solid;
    }

    header {
        grid-area: he;
        background: #514242;
        font-size: 1.25rem;
        color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        border-color: white;
        border-style: solid;
    }
}




/* OM OSS SIDAN */
#om_oss_section1 {
    grid-area: s1;
    background: rgb(96, 75, 75);
}

#om_oss_section2 {
    grid-area: s2;
    background: rgb(96, 75, 75);
}

#om_oss_section3 {
    grid-area: s3;
    background: rgb(96, 75, 75);
}

#om_oss_section4 {
    grid-area: s4;
    background: rgb(96, 75, 75);
}




/* PERSONAL SIDAN */
#personal_section1 {
    display: flex;
    background: rgb(96, 75, 75);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
}

#personal_section2 {
    display: flex;
    background: rgb(96, 75, 75);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
}

#personal_section3 {
    display: flex;
    background: rgb(96, 75, 75);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
}

#personal_section4 {
    display: flex;
    background: rgb(96, 75, 75);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
}

.article {
    width: 275px;
    height: 150px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

#article_person1 {
    background: url("../img/person1.png");
    background-size: contain;
    height: 200px;
    background: black;
}

#article_person2 {
    background: url("../img/PersonNr1.png");
    background-size: contain;
    height: 350px;
    width: 500px;
}

#article_person3 {
    background: url("../img/PersonNr2.png");
    background-size: contain;
    height: 350px;
    width: 500px;
}

#article_person4 {
    background: url("../img/PersonNr3.png");
    background-size: contain;
    height: 350px;
    width: 500px;
}

#article_person5 {
    background: url("../img/PersonNr4.png");
    background-size: contain;
    height: 350px;
    width: 500px;
}

h5 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(255, 255, 255);
    background: transparent;
    font-size: large;
}

h6 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(79, 58, 58);
    background: transparent;
    font-size: larger;
}

#personal_text {
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(79, 58, 58);
    background-color: transparent;
    font-size: 20px;
}

a:hover {
    pointer-events: stroke;
}

button:hover {
    background-color: black;
}




/* BOKA TID SIDAN */
#boka_tid_section1 {
    grid-area: s1;
    background: rgb(96, 75, 75);
}

#boka_tid_section2 {
    grid-area: s2;
    background: rgb(96, 75, 75);
}

#boka_tid_section3 {
    grid-area: s3;
    background: rgb(96, 75, 75);
}

#boka_tid_section4 {
    grid-area: s4;
    background: rgb(96, 75, 75);
}